---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/main.astro";
import LoginButtons from "@/components/LoginButtons.astro";
import { getSession } from "@/lib/auth";
import LogoutButton from "@/components/LogoutButton.astro";
import { getUser } from "@/lib/auth";

export const prerender = false;

const session = await getSession(Astro.request);
const user = await getUser(Astro.request);
---

<Layout title="Astro Authentication using light-auth">
  <div class="min-h-screen flex flex-col container mx-auto p-8 max-w-4xl">
    <h1 class="text-3xl font-bold mb-6">Authentication Test Page</h1>

    <div class="bg-white shadow-md rounded-lg p-6 border border-gray-200">
      <h2 class="text-xl font-semibold mb-4">Login Status</h2>

      {
        session != null ? (
          <div class="space-y-4">
            <div class="p-4 bg-green-50 text-green-700 rounded-md">
              <p class="font-medium">✅ You are logged in!</p>
            </div>

            <div class="space-y-2">
              <h3 class="font-medium">Session:</h3>
              <div class="bg-gray-50 p-4 rounded-md">
                <pre class="whitespace-pre-wrap text-sm break-all ">{JSON.stringify(session, null, 2)}</pre>
              </div>
            </div>

            {user != null && (
              <div class="space-y-2">
                <h3 class="font-medium">User:</h3>
                <div class="bg-gray-50 p-4 rounded-md">
                  <pre class="whitespace-pre-wrap text-sm break-all ">{JSON.stringify(user, null, 2)}</pre>
                </div>
              </div>
            )}

            <LogoutButton />
          </div>
        ) : (
          <div class="flex flex-row justify-center items-center ">
            <LoginButtons />
          </div>
        )
      }
    </div>
  </div>
</Layout>
