---
import "../styles/global.css";
// Component Imports
import Layout from "@/layouts/main.astro";
import LoginButtons from "@/components/LoginButtons.astro";
export const prerender = false;
---

<Layout title="Astro Sample Page dazda">
  <p>Login page</p>
</Layout>
