---
import { Button, buttonVariants } from "./ui/button";
import Google from "../../public/google.svg";
import { LogOut } from "lucide-react";
---

<div class="flex flex-col gap-2 w-80">
  <Button id="btnLogout" variant="outline">
    <LogOut className="mr-2 h-4 w-4" />
    Logout
  </Button>
</div>

<script>
  import { signOut } from "@/lib/auth-client";
  const btnLogout = document.getElementById("btnLogout");

  if (btnLogout) btnLogout.onclick = () => signOut();
</script>
